{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          <strong>Name:</strong> Likhitha Sanjana<br>
          <strong>Bio:</strong><br>
          Hi! I'm Likhitha Sanjana, a passionate developer and mental health advocate. 
          I love writing about topics that inspire personal growth, wellness, and technology. 
          Through this blog, I aim to share insights, tips, and resources to help people lead healthier, 
          more balanced lives while exploring the world of programming and tech.<br><br>

          <strong>Interests:</strong> Mental Health, Programming, Tech, Self-improvement, Blogging<br>
          <strong>Email:</strong> sanjana852006@gmail.com
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
